.content {
    display: flex;
    padding-top: 100px;
    margin-top: 150px;
    margin: 60px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    margin-right: 100px;
  }

  .terminal2 {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 15px;
    margin-top: 25px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1000px;

  }
  .SavebuttonDesign{
    background-color: #890a0a; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    align-items: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 80px;
    margin-bottom: -100px;
    cursor: pointer;
    border-radius: 5px;
    width: 20%;
  }
