<div class="content">

<div class="terminal" style="overflow: hidden">
    <div
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        padding-bottom: 10px;
      "
    >
      <img
        src="\assets\user_profile.png"
        alt="User_profile"
        style="
          height: 35px;
          width: 35px;
          background-color: #eee;
          border-radius: 50%;
          padding: 2px;
          margin-right: 10px;
          margin-left: 10px;
        "
      /><div style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      ">
        <span style="
      font-size: 15px;
      color: #fffefe;
      margin-left: 0px;
      font-weight: bold;
      margin-bottom: 0px;
      font-family: 'Courier New', Courier, monospace;

      ">Farhana Urmi</span>
      <span style="
      font-size: 15px;
      color: #fffefe;
      margin-left: 10px;
      margin-bottom: 0px;
      font-family: 'Courier New', Courier, monospace;
      ">14 July 14:31</span>
      </div>
    </div>
    <div style="display: flex; align-items: left; justify-content: left">
      <p
        style="
          font-size: 15px;
          color: #fffefe;
          margin-left: 10px;
          margin-bottom: 10px;
          font-family: 'Courier New', Courier, monospace;
        "
      >
        <span style="color: #f7f5f5"
          >ng generate component xyz ng generate component xyz ng generate
          component xyz ng generate component xyzng generate component xyz ng
          generate component xyzng generate component xyz ng generate component
          xyz ng generate component xyz ng generate component xyz ng generate
          component xyz ng generate component xyz ng generate component xyz ng
          generate component xyz</span
        ><br />
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
      "
    >
      <img
        src="\assets\post_img2.jpg"
        alt="post_img"
        style="height: 100%; width: 100%"
      />
    </div>
  </div>
  <div class="terminal" style="overflow: hidden">
    <div
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        padding-bottom: 10px;
      "
    >
      <img
        src="\assets\user_profile.png"
        alt="User_profile"
        style="
          height: 35px;
          width: 35px;
          background-color: #eee;
          border-radius: 50%;
          padding: 2px;
          margin-right: 10px;
          margin-left: 10px;
        "
      /><div style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      ">
        <span style="
      font-size: 15px;
      color: #fffefe;
      margin-left: 0px;
      font-weight: bold;
      margin-bottom: 0px;
      font-family: 'Courier New', Courier, monospace;

      ">Farhana Urmi</span>
      <span style="
      font-size: 15px;
      color: #fffefe;
      margin-left: 10px;
      margin-bottom: 0px;
      font-family: 'Courier New', Courier, monospace;
      ">14 July 14:31</span>
      </div>
    </div>
    <div style="display: flex; align-items: left; justify-content: left">
      <p
        style="
          font-size: 15px;
          color: #fffefe;
          margin-left: 10px;
          margin-bottom: 10px;
          font-family: 'Courier New', Courier, monospace;
        "
      >
        <span style="color: #f7f5f5"
          >ng generate component xyz ng generate component xyz ng generate
          component xyz ng generate component xyzng generate component xyz ng
          generate component xyzng generate component xyz ng generate component
          xyz ng generate component xyz ng generate component xyz ng generate
          component xyz ng generate component xyz ng generate component xyz ng
          generate component xyz</span
        ><br />
      </p>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
      "
    >
      <img
        src="\assets\post_img2.jpg"
        alt="post_img"
        style="height: 100%; width: 100%"
      />
    </div>
  </div>
  </div>
