<!-- <div class="content"> -->
  <!-- <div class="terminal1" style="overflow: hidden">
    <div
      style="
        display: flex;
        align-items: left;
        justify-content: left;
        padding-bottom: 10px;
      "
    >
      <img
        src="\assets\user_profile.png"
        alt="User_profile"
        style="
          height: 75px;
          width: 75px;
          background-color: #eee;
          border-radius: 50%;
          padding: 2px;
          margin-right: 10px;
          margin-left: 10px;
        "
      />
      <div
        style="
          display: flex;
          align-items: left;
          justify-content: left;
          flex-direction: column;
          margin-top: 20px;
        "
      >
        <span
          style="
            font-size: 15px;
            color: #fffefe;
            margin-left: 0px;
            font-weight: bold;
            margin-bottom: 0px;
            margin-left: 10px;
            font-family: 'Courier New', Courier, monospace;
          "
          >Farhana Urmi</span
        >
        <span
          style="
            font-size: 15px;
            color: #fffefe;
            margin-left: 10px;
            margin-bottom: 0px;
            font-family: 'Courier New', Courier, monospace;
          "
          >Farhanaurmi760@gmail.com</span
        >
      </div>
    </div>
  </div> -->

  

<!--   
</div> -->
<div class="content">

<div class="row">
  <div class="col-md-4 mt-4">
    
      <div class="terminal1" style="overflow: hidden">
        <div class="row">
          <div class="col-md-12 text-center mt-3">
         
          <img
            src="\assets\user_profile.png"
            alt="User_profile"
            class="rounded-circle"
            style="height: 75px; width: 75px; background-color: #eee;"
          />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="font-weight-bold" style="font-size: 15px; color: #000000; font-family: 'Courier New', Courier, monospace;">Farhana Urmi</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <span style="font-size: 15px; color: #000000; font-family: 'Courier New', Courier, monospace;">Farhanaurmi760@gmail.com</span>
            </div>   
          </div>
    </div>
  </div>
  <div class="col-md-8">
    <app-post></app-post>
  </div>
</div>
</div>

